.input-box {
  color: black;
  background-color: #f1f5f9;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  gap: 12px;
  font-size: 14px;
  padding: 0.75rem 1rem;
  width: inherit;
  margin-top: 1rem;
  margin-bottom: 0.75rem;
}

.label-input {
  color: #1d293d;
  font-size: 13px;
}

.input-form {
  width: 100%;
  background-color: transparent;
  border: none;
}

.icon-eye {
  color: var(--text-primary);
  cursor: pointer;
}

.icon-eye-slash {
  color: #90a1b9;
  cursor: pointer;
}
